*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;
}

@font-face {
    font-family: Right;
    src: url(./Right\ Grotesk/bold);
}

#main{
    font-family: Right Grotesk;
    width: 100%;
    height: 100%;
}

#page1{
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#nav{
    color: #fff;
    padding: 2.5vw 2.5vw;
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 3vw;
    position: fixed;
    z-index: 9999;
}

#nav2{
    width: 9.5vw;
}

#nav3{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 9vw;
    height: 4vw;
    border-radius: 5vw;
    background-color: black;
}

#nav3 i{
    font-size: 2vw;
    padding: 0vw 1vw;
}

#nav3 hr{
    height: 2vw;
}

#page1 img{
    width: 122.5%;
}

#center{
    position: absolute;
    text-align: center;
    color:#FFE30A;
    top: 20%;
    left: 22%;
    font-size: 5.9vw;
    letter-spacing: -8px;
    line-height: 21vh;
    width: 55vw;
    font-family: Right Grotesk;
    -webkit-text-stroke: 2px;
}

#page2{
    position: relative;
    width: 100%;
    background-color: #FFE30A;
    height: 65vw;
}

#page2 h1{
    font-family: Right Grotesk;
    font-size: 9vw;
    position: absolute;
    margin-left: 14vw;
    margin-top: 18vw;
    letter-spacing: -3px;
    line-height: 19vh;
    -webkit-text-stroke: 2px;
}

#store{
    margin-left: 13vw;
}

.appstore{
    margin-top: 49vw;
    margin-left: 1vw;
    width: 14vw;
}

.phone{
    position: absolute;
    top: 12vw;
    right: 23vw;
    width: 23vw;
}

.boicon{
    width: 15vw;
    position: absolute;
    top: 47.8vw;
    right: 9.5vw;
}

.letsyubo{
    width: 13.5vw;
    position: absolute;
    top: 42vw;
    right: 4vw;
}

.thatslit{
    position: absolute;
    width: 15vw;
    top: 21vw;
    right: 15vw;
}

.joinchat{
    position: absolute;
    width: 22vw;
    top: 29vw;
    right: 34vw;
}

.heyfrnds{
    position: absolute;
    width: 15vw;
    top: 43vw;
    right: 40vw;
}

#page3{
    width: 100%;
    position: relative;
}

#page3 img{
    position: absolute;
    background-color: #FFE30A;
    width: 100%;
    height: 200vw;
}

#left{
    position: absolute;
    top: 18vw;
    font-size: 4.5vw;
    color: #FFE30A;
    left: 14vw;
    letter-spacing: -2px;
    line-height: 18vh;
    -webkit-text-stroke: 4px;
}

#right2{
    position: absolute;
    top: 23vw;
    font-size: 1vw;
    color: #fff;
    right: 15vw;
}

#right2 button{
    margin-top: 2.5vw;
    padding: 1vw 1.5vw;
    font-size: 1vw;
    background-color: #FFE30A;
    font-weight: 800;
    border: none;
    border-radius: 50vw;
}

#right2 button:hover{
    cursor: pointer;
    background-color: transparent;
    color: #FFE30A;
    border: 1px solid #FFE30A ;
    font-weight: 800;
}

#page4{
    top: 133vh;
    width: 100%;
    height: 100vh;
    position: relative;
}

.belong{
    position: absolute;
    width: 27vw;
    left: 16vw;
}

.p4img{
    position: absolute;
    border-radius: 3vw;
    width: 35vw;
    right: 14vw;
}

#page4left{
    position: absolute;
    top: 35vw;
    left: 14vw;
    font-size: 1vw;
    color: #fff;
    width: 31vw;
}

#page4left button{
    margin-top: 2.5vw;
    padding: 1vw 2vw;
    font-size: 1vw;
    background-color: #FFE30A;
    font-weight: 800;
    border: none;
    border-radius: 50vw;
}

#page4left button:hover{
    cursor: pointer;
    background-color: transparent;
    color: #FFE30A;
    border: 1px solid #FFE30A ;
    font-weight: 800;
}

#page5{
    top: 188vh;
    width: 100%;
    position: relative;
}

#page5 h1{
    left: 13vw;
    width: 48vw;
    -webkit-text-stroke:4.5px #FFE30A;
    letter-spacing: 5px;
    line-height: 8.5vw;
    font-size: 8vw;
    color: #FFE30A;
    position: absolute;
}

#page5 img{
    width: 7vw;
    margin-bottom: -1.5vw;
    margin-left: -1vw;
}

#page5 button{
    position: absolute;
    right: 14vw;
    top: 5vw;
    padding: 1vw 2vw;
    font-size: 1.2vw;
    background-color: #FFE30A;
    font-weight: 700;
    border: none;
    border-radius: 50vw;
}

#page5 button:hover{
    cursor: pointer;
    background-color: transparent;
    color: #FFE30A;
    border: 1px solid #FFE30A ;
    font-weight: 700;
}

#page6{
    top: 215%;
    position: relative;
    width: 100%;
}

.bgi{
    position: absolute;
    width: 100%;
}

#genz{
    position: absolute;
    z-index: 1;
    height: 35vw;
    width: 26vw;
    border-radius: 3vw;
    left: 14.5vw;
    top: 16vw;
    background-image: url(https://images.prismic.io/yubo/42e1a41b-e054-4f52-a214-e3ea5e475aa4_Blog_Yubo+Horoscope.png?auto=compress,format);
    background-size: cover;
    background-position: center;
    overflow: hidden; 
}

#tuote{
    z-index: 1;
    position: absolute;
    height: 35vw;
    width: 37vw;
    border-radius: 3vw;
    left: 47vw;
    top: -0.2vw;
    background-image: url(https://images.prismic.io/yubo/4e7a5333-9e65-4a60-a2d1-7b9680e002f2_Blog_CommunityTipsAndTricks.png?auto=compress,format);
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

#frndsp{
    z-index: 1;
    position: absolute;
    height: 34.5vw;
    width: 30vw;
    border-radius: 3vw;
    left: 50.6vw;
    top: 39.8vw;
    background-image: url(https://images.prismic.io/yubo/f34dcf26-d146-4205-ab86-46e4daef0781_Blog_Community+Building+and+Making+Friends+on+Yubo.png?auto=compress,format);
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.p6{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
    background: #0000009f;
    color: #fff;
    font-family: Right Grotesk;
}

.p6 button{
    margin-top: 2vw;
    font-size: 1.2vw;
    font-weight: 800;
    position: absolute;
    border-radius: 0.5vw;
    border: none;
    padding: 0.5vw 1vw;
}

#genz button{
    background-color: #8E6BFF;
    right: 2vw;
}

#tuote button{
    background-color: #FF5252;
    margin-left: 2vw;
}

#frndsp button{
    background-color: #FFE30A;
    margin-left: 2vw;
}

.p6:hover{
    cursor: pointer;
}

#genz2 h1{
    margin-top: 25vw;
    font-size: 3.5vw;
    padding-left: 2vw;
}

#tuote2 h1{
    margin-top: 19vw;
    font-size: 3.5vw;
    line-height: 3.2vw;
    padding-left: 2vw;
}

#frndsp2 h1{
    margin-top: 15.5vw;
    font-size: 3.5vw;
    line-height: 3.2vw;
    padding: 0 2vw;
}

#min{
    display: flex;
    gap: 5px;
    margin-top: 2vw;
    margin-left: 2vw;
    font-size: 1.5vw;
    font-weight: 200;
}

#min img{
    width: 1.5vw;
    height: 1.5vw;
}

#page7{
    top: 400%;
    position: relative;
    width: 100%;
}

.p7img{
    margin-left: 29%;
    top: -5.5vw;
    width: 42vw;
    position: absolute;
    z-index: 1;
}

.footer{
    position: absolute;
    width: 100%;
    height: 123vh;
}

#source{
    font-family: Right Grotesk;
    top: 27vw;
    position: absolute;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0 5vw;
}

#parts h1{
    font-size: 2vw;
    font-weight: bolder;
    margin-bottom: 1vw;
}

#parts h2{
    font-size: 1.5vw;
    font-weight: normal;
    margin-top: 0.5vw;
}

#parts h2:hover{
    cursor: pointer;
    color: #fff;
}

#social{
    width: 100%;
    position: absolute;
    height: 15vw;
    top: 48vw;
    background-color: #FFE30A;
    display: flex;
    align-items: center;
    justify-content: center;
}

#social i{
    font-size: 2.5vw;
    padding: 0.7vw 0.7vw;
    border-radius: 50%;
    color: #fff;
    margin: 0.5vw;
    background-color: black;
}

#social i:hover{
    cursor: pointer;
    color: black;
    background-color: #fff;
}